/* 导航1 */
.topnav{
	width: 100%;
	height:30px;
	background-color: #EEEEEE;
}
.topnav .content{
	width:1200px;
	height:100%;
	margin:0 auto;
}
.topnav .content .left{
	color:black;
	font-size: 12px;
	line-height: 30px;
}
.topnav .content .right{
	height: 32px;
	float: right;
	margin-top: 0;
}
.topnav .content .right li{
	float: left;
	height: 30px;
}
.topnav .content .right li a{
	font-size: 12px;
	color:black;
	border-right: 1px solid #ccc;
	padding: 0 15px;
	line-height: 30px;
}
.topnav .content .right li a:hover{
	color: #bb1E7B;
}
.topnav .content .right li .f{
	border: 0;
}
.topnav .content .right li .l{
	border: 0;
	padding-right: 0;
	padding-left: 30px;
	background: url("/images/er.jpg") no-repeat 8px center;
}
/* 导航2 */
.head{
	width: 100%;
	height:100px;
	background-color: #fff;
}
.content1{
	height:100%;
	width:1200px;
	margin: 0 auto;
}
.content1 img {
	margin-top: 25px;
	float: left;
}
.content1 form{
	width:325px;
	height:30px;
	float:left;
	margin-top: 28px;
	margin-left: 588px;
	border: 1px solid #C0C0C0;
}
.content1 .text{
	border: 0;
	width:290px;
	height:30px;
	float: left;
	outline: none;
}
.shopcar{
	width: 88px;
	height: 33px;
	background: #bb1e7b;
	float: left;
	margin-top: 28px;
	margin-left: 40px;
}
.content1 .btn{
	width: 30px;
	height:30px;
	float: left;
	border: 0;
	outline: none;
	background: url("/images/ss.png") no-repeat center center;
}
.go_car{
	display: inline-block;
	/*margin-left: 33px;*/
}
.go_car i{
	margin-top: 6px;
	margin-left: 10px;
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	background: url("/images/gouwu.png") no-repeat;
}
.go_car span{
	color: white;
	font-size: 14px;
	line-height: 33px;
	margin-left: 7px;
}
#bar{
	height:40px;
	background: #222222;
	width:100%;
	z-index: 9999999;
}
#bar .bar_center{
	height:40px;
	width: 1200px;
	margin: 0 auto;
}
#bar .bar_center ul{
	margin-left: 240px;
	display:inline-block;
	height: 43px;
}
#bar .bar_center ul li{
	float:left;
	margin:0 28px;
}
#bar .bar_center ul li a{
	font-size:15px;
	color:white;
	line-height: 40px;
}

/* 选项卡样式部分 */
#bar ul li .contener{
	box-shadow: 1px 0 10px #1c1c1c;
	position: absolute;
	z-index:9999;
	text-align: left;
	max-height: 425px;
	border-bottom: 5px solid #f9423a;
	background: #fff;
	display: none;
	left:255px;
}
/* #bar ul li .last{
	position: absolute;
	left:260px;
	display:block;
} */
#bar ul li .contener .w510{
	padding:0 40px 33px 35px;
	font-size: 0;
}
#bar ul li .contener .w510 .mr100{
	width:100px;
}
#bar ul li .contener .w510 .dib{
	display:inline-block;
	vertical-align: top;
	margin-top: 35px;
	margin-right: 40px;
}
#bar ul li .contener .w510 .no_right{
	margin-right: 0;
}
#bar ul li .contener .w510 .dib .title{
	width:100px;
	display: block;
	font-size: 16px;
	font-weight: 700;
	color:#1c1c1c;
	padding-top: 0;
	padding-bottom: 18px;
	border-bottom: 1px solid #ddd;
}
#bar ul li .contener .w510 .dib  a{
	color: #555;
    font-size: 14px;
    font-family: MicrosoftYaHei,微软雅黑;
    padding: 14px 0 0;
    width: 94px;
	overflow: hidden;
	position: relative;
	line-height: 19px;
	display: inline-block;
}
#bar ul li .contener .vertical_line{
	position: absolute;
	right: 296px;
	top:0;
    width: 1px;
    height: 100%;
    border-left: 1px dotted #999;
}
#bar ul li .contener .w250{
	width:220px;
	height:100%;
	padding:35px 35px 0 40px;
}
.right{
	float: right;
	margin-top: -270px;
}
#bar ul li .contener .w250  .title{
	display: block;
	font-size: 16px;
	font-weight: 700;
	color:#1c1c1c;
	padding-top: 0;
	padding-bottom: 18px;
	border-bottom: 1px solid #ddd;
}
#bar ul li .contener .w250 a{
	color:#555;
	text-align: left;
	padding:0;
	display:block;
	font-size: 14px;
	padding-top:14px;
	position: relative;
	line-height: 19px;
}
#bar ul li .contener .w250 .imgBtn{
	margin: 35px auto 40px;
    display: inline-block;
    border: 1px solid #f9423a;
    padding: 15px 35px;
}
#bar ul li .contener .w250 .imgBtn p{
	line-height: 1;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
#bar ul li .contener .w250 .imgBtn .big{
	font-family: MicrosoftYaHei-Bold;
    font-size: 27px;
	margin-top: 0;
}

/* 商品部分 */
#content{
    width:1200px;
    margin-left: 45px;
}
.prod{
    height:424px;
    position: relative;
    display: block;
    float: left;
    background: #fff;
    width: 287px;
    margin-right: 13px;
    margin-top: 0;
}
.prod .img_wrapper{
    margin-top: 22px;
    z-index: 200;
    width: 270px;
    height: 270px;
}
.prod .img_wrapper img{
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
	transition: all 1.5s linear;
	transform: scale(1);
}
.prod .img_wrapper img:hover{
    transition: all 1.5s linear;
	transform: scale(1.15);
}

body .loaded img{
    display: block;
    border:none;
}
.prod .pro_name{
    overflow: hidden;
    font-size: 13px;
    color: #111;
    line-height: 18px;
    height: 36px;
    width: 230px;
    margin: 0 auto;
    max-width: 230px;
    margin-top: 5px;
}
.prod .money{
    width: 230px;
    margin: 0 auto;
}
.prod .money .original{
    color: #BB1E7B;
    font-size: 18px;
    float: left;
}


/* footer部分 */
/* footer上半部分 */
#mainfoot{
	bottom:0;
	position: relative;
    height:441px;
    float:left;
}
.footwarp_t{
	width:100%;
	height:225px;
}
.warpt{
	width:1200px;
	height:165px;
	margin:0 auto;
	padding:30px 0;
}
.warpt div{
	width:399px;
	height:165px;
	float:left;
	text-align: center;
}
.ft_left{
	overflow: hidden;
	border-right:solid 1px #cfcfcf;
}
.warpt div h2{
	font-size: 18px;
	font-weight: normal;
}
.ft_left h2{
	color:#222;
	margin-top: 10px;
	margin-bottom: 25px;
}
.ft_left h1{
	color:#222;
	font-size:28px;
	font-weight: normal;
}
.ft_left time{
	margin-top: 8px;
	font-size: 13px;
    display: block;
    color:#222;
}
.ft_center h2{
	color:#222;
	margin-top: 10px;
	margin-bottom: 10px;
}
.ft_center p{
	width:330px;
	font-size: 13px;
	color:#222;
	margin:0 auto;
	text-align: left;
	margin-bottom: 15px;
	line-height: 20px;
	position: relative;
}
.ft_center p i{
	background: url("/images/vx.png") no-repeat;
	position: absolute;
	left: 60px;
	top:-4px;
	width: 32px;
	height:32px;
	margin-left: 15px;
	display: inline-block;
}
.ft_right h2{
	margin-top: 10px;
	margin-bottom: 14px;
}
.ft_right img{
	border:solid 1px #CDCDCD;
	margin:0 auto;
}
.ft_right p{
	font-size: 13px;
	margin-top: 8px;
	color:#333;
}
/* footer下半部分 */
.footwarp{
	width:100%;
	height:240px;
	background: #444;
	overflow: hidden;
}
.foot_top{
	height:109px;
	border-bottom: solid 1px #555;
}
.foot_top ul{
	width:1200px;
	height:109px;
	margin:0 auto;
	overflow: hidden；
}
.foot_top ul li{
	width:400px;
	float:left;
	line-height:109px;
	overflow: hidden;
}
.foot_top ul li b{
	margin-right: 20px;
	margin-top: 30px;
	float: left;
}
.foot_top ul li span{
	font-size: 20px;
	color: #fff;
	font-weight: 700px;
}

.foot_b{
	height:130px;
}
.fwarp{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.foot_left{
	float: left;
}
.fwarp p{
	clear: both;
	font-size: 15px;
	line-height: 28px;
	color:#BBB;
}
.fwarp p a{
	color:#BBB;
}
.foot_left p i{
	width:17px;
	height:21px;
	display: inline-block;
	margin-left: 10px;
	background: url(/images/place.jpg)
}
.foot_right{
	float: right;
	width:340px;
	height:80px;
	margin-top: 20px;
	overflow: hidden;
}
.foot_right img{
	float:left;
	margin-left: 20px;
	margin-top: 15px;
}
