<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>详情页</title>
		<!-- inject:css -->
  		<!-- endinject -->
	</head>
	<body>
		<!-- 顶部导航 -->
		<div class="topnav">	
			<div class="content">
				<a href="#" class="left">欢迎来到优众网！</a>
				<ul class="right">
					<li class="btn"><a href="/list/list.html" class="f">请登录</a></li>
					<li><a href="/register/register.html">免费注册</a></li>
					<li><a href="javascript:;">我的订单</a></li>
					<li><a href="javascript:;">个人中心</a></li>
					<li><a href="javascript:;">购物须知</a></li>
					<li><a href="javascript:;">优众故事</a></li>
					<li><a href="javascript:;" class="l">400-887-5699</a></li>
				</ul>
			</div>
		</div>
		<div class="head">
			<div class="content1">
				<img src="/images/LOGO.png" />
				<form>
					<input type="text" placeholder="新品 女士 箱包" class="text">
					<input type="submit" class="btn" value="" />
				</form>
				<div class="shopcar">
					<a href="#" class="go_car">
						<i></i>
						<span>购物车</span>
					</a>
				</div>
			</div>
		</div>

		<!-- 分类列表导航 -->
		<div id="bar">
			<div class="bar_center">
				<ul class="bar_content">
					<li class="first"><a href="">首页</a></li>
					<li class="check">
						<a href="" >男士</a>
						<div class="contener" style="border-color: #BB1E7B;width:751px;">
								<div class="left w510 ">
								  
								  <div class="dib mr100 ">
									<a  class="title " href="javascript:;" title="美容药妆">美容药妆</a>
									
									<a  href="javascript:;" title="口服美容">口服美容</a>
									
									<a  href="javascript:;" title="护肤品">护肤品</a>
					
									<a  href="javascript:;" title="魅力彩妆">魅力彩妆</a>
					
									<a  href="javascript:;" title="美容药妆">美容药妆</a>
					
									<a  href="javascript:;" title="香水香氛">香水香氛</a>
					
									
								  </div>
								  
								  <div class="dib mr100 ">
									<a  class="title " href="javascript:;" title="个人护理">个人护理</a>
									
									<a  href="javascript:;" title="洗发护发">洗发护发</a>
									
									<a  href="javascript:;" title="沐浴清洁">沐浴清洁</a>
									
									<a  href="javascript:;" title="口腔护理">口腔护理</a>
									
									<a  href="javascript:;" title="家庭医药">家庭医药</a>
									
									<a  href="javascript:;" title="两性护理">两性护理</a>
									
								  </div>
								  
								  <div class="dib mr100 no_right">
									<a  class="title " href="javascript:;" title="家居生活">家居生活</a>
									
									<a  href="javascript:;" title="厨卫用品">厨卫用品</a>
									
									<a  href="javascript:;" title="手表特卖">手表特卖</a>
									
								  </div>
								  
								</div>
								<div class="vertical_line"></div>
								
								<div class="right w250">
								  <a  class="title" href="javascript:;">冬季必备面膜58元起！</a>
								  
								  <a  href="javascript:;" >时尚手表 689元起！ </a>
								  
								  <a  href="javascript:;" >美容药妆专场 低至2.6折！</a>
								  
								  <a  class="imgBtn" href="javascript:;" title="轻松变美 4.6折起！" style="border-color: #BB1E7B;color: #BB1E7B;">
									<p class="big">轻松变美 4.6折起！</p>
									<p href="javascript:;" class="link">查看全部商品></p>
								  </a>
								</div>
								
							  </div>
					</li>
					<li class="check">
						<a href="">女士</a>
						<div class="contener" style="border-color: #BB1E7B;width:751px;">
								<div class="left w510 ">
								  
								  <div class="dib mr100 ">
									<a  class="title " href="javascript:;" title="美容药妆">美容药妆</a>
									
									<a  href="javascript:;" title="口服美容">口服美容</a>
									
									<a  href="javascript:;" title="护肤品">护肤品</a>
					
									<a  href="javascript:;" title="魅力彩妆">魅力彩妆</a>
					
									<a  href="javascript:;" title="美容药妆">美容药妆</a>
					
									<a  href="javascript:;" title="香水香氛">香水香氛</a>
					
									
								  </div>
								  
								  <div class="dib mr100 ">
									<a  class="title " href="javascript:;" title="个人护理">个人护理</a>
									
									<a  href="javascript:;" title="洗发护发">洗发护发</a>
									
									<a  href="javascript:;" title="沐浴清洁">沐浴清洁</a>
									
									<a  href="javascript:;" title="口腔护理">口腔护理</a>
									
									<a  href="javascript:;" title="家庭医药">家庭医药</a>
									
									<a  href="javascript:;" title="两性护理">两性护理</a>
									
								  </div>
								  
								  <div class="dib mr100 no_right">
									<a  class="title " href="javascript:;" title="家居生活">家居生活</a>
									
									<a  href="javascript:;" title="厨卫用品">厨卫用品</a>
									
									<a  href="javascript:;" title="手表特卖">手表特卖</a>
									
								  </div>
								  
								</div>
								<div class="vertical_line"></div>
								
								<div class="right w250">
								  <a  class="title" href="javascript:;">冬季必备面膜58元起！</a>
								  
								  <a  href="javascript:;" >时尚手表 689元起！ </a>
								  
								  <a  href="javascript:;" >美容药妆专场 低至2.6折！</a>
								  
								  <a  class="imgBtn" href="javascript:;" title="轻松变美 4.6折起！" style="border-color: #BB1E7B;color: #BB1E7B;">
									<p class="big">轻松变美 4.6折起！</p>
									<p href="javascript:;" class="link">查看全部商品></p>
								  </a>
								</div>
								
						</div>
					</li>
					<li><a href="">品牌</a></li>
					<li class="check">
						<a href="">精致生活</a>
						<div class="contener" style="border-color: #BB1E7B;width:751px;">
								<div class="left w510 ">
								  
								  <div class="dib mr100 ">
									<a  class="title " href="javascript:;" title="美容药妆">美容药妆</a>
									
									<a  href="javascript:;" title="口服美容">口服美容</a>
									
									<a  href="javascript:;" title="护肤品">护肤品</a>
					
									<a  href="javascript:;" title="魅力彩妆">魅力彩妆</a>
					
									<a  href="javascript:;" title="美容药妆">美容药妆</a>
					
									<a  href="javascript:;" title="香水香氛">香水香氛</a>
					
									
								  </div>
								  
								  <div class="dib mr100 ">
									<a  class="title " href="javascript:;" title="个人护理">个人护理</a>
									
									<a  href="javascript:;" title="洗发护发">洗发护发</a>
									
									<a  href="javascript:;" title="沐浴清洁">沐浴清洁</a>
									
									<a  href="javascript:;" title="口腔护理">口腔护理</a>
									
									<a  href="javascript:;" title="家庭医药">家庭医药</a>
									
									<a  href="javascript:;" title="两性护理">两性护理</a>
									
								  </div>
								  
								  <div class="dib mr100 no_right">
									<a  class="title " href="javascript:;" title="家居生活">家居生活</a>
									
									<a  href="javascript:;" title="厨卫用品">厨卫用品</a>
									
									<a  href="javascript:;" title="手表特卖">手表特卖</a>
									
								  </div>
								  
								</div>
								<div class="vertical_line"></div>
								
								<div class="right w250">
								  <a  class="title" href="javascript:;">冬季必备面膜58元起！</a>
								  
								  <a  href="javascript:;" >时尚手表 689元起！ </a>
								  
								  <a  href="javascript:;" >美容药妆专场 低至2.6折！</a>
								  
								  <a  class="imgBtn" href="javascript:;" title="轻松变美 4.6折起！" style="border-color: #BB1E7B;color: #BB1E7B;">
									<p class="big">轻松变美 4.6折起！</p>
									<p href="javascript:;" class="link">查看全部商品></p>
								  </a>
								</div>
								
						</div>
					</li>
					<li class="check">
						<a href="" >东方奢侈品</a>
						<div class="contener last" style="border-color: #BB1E7B;width:751px;">
								<div class="left w510 ">
								  
								  <div class="dib mr100 ">
									<a  class="title " href="javascript:;" title="美容药妆">美容药妆</a>
									
									<a  href="javascript:;" title="口服美容">口服美容</a>
									
									<a  href="javascript:;" title="护肤品">护肤品</a>
					
									<a  href="javascript:;" title="魅力彩妆">魅力彩妆</a>
					
									<a  href="javascript:;" title="美容药妆">美容药妆</a>
					
									<a  href="javascript:;" title="香水香氛">香水香氛</a>
					
									
								  </div>
								  
								  <div class="dib mr100 ">
									<a  class="title " href="javascript:;" title="个人护理">个人护理</a>
									
									<a  href="javascript:;" title="洗发护发">洗发护发</a>
									
									<a  href="javascript:;" title="沐浴清洁">沐浴清洁</a>
									
									<a  href="javascript:;" title="口腔护理">口腔护理</a>
									
									<a  href="javascript:;" title="家庭医药">家庭医药</a>
									
									<a  href="javascript:;" title="两性护理">两性护理</a>
									
								  </div>
								  
								  <div class="dib mr100 no_right">
									<a  class="title " href="javascript:;" title="家居生活">家居生活</a>
									
									<a  href="javascript:;" title="厨卫用品">厨卫用品</a>
									
									<a  href="javascript:;" title="手表特卖">手表特卖</a>
									
								  </div>
								  
								</div>
								<div class="vertical_line"></div>
								
								<div class="right w250">
								  <a  class="title" href="javascript:;">冬季必备面膜58元起！</a>
								  
								  <a  href="javascript:;" >时尚手表 689元起！ </a>
								  
								  <a  href="javascript:;" >美容药妆专场 低至2.6折！</a>
								  
								  <a  class="imgBtn" href="javascript:;" title="轻松变美 4.6折起！" style="border-color: #BB1E7B;color: #BB1E7B;">
									<p class="big">轻松变美 4.6折起！</p>
									<p href="javascript:;" class="link">查看全部商品></p>
								  </a>
								</div>
								
						</div>
					</li>
					<li><a href="">APP下载</a></li>
				</ul>
			</div>
        </div>

        <!-- 放大镜区域 -->
        <div style="width: 100%;background: #fff;padding-top: 25px;padding-bottom: 40px;overflow: auto;">
            <div class="show-top">
                <div class="show-left" style="width: 565px;margin-right: 50px">
                    <div id="box">
                        <div id="small" class="small">
                             <img src="/images/2a41ff6c.jpg.m420.jpg" alt="" id="mm"/> 
                             <img src="/images/c7c0e818.jpg.m420.jpg" alt=""/> 
                             <img src="/images/09604eb3.jpg.m420.jpg" alt=""/> 
                             <img src="/images/80cc408b.jpg.m420.jpg" alt=""/>
                             <div id="mask"></div>   
                        </div>
                        <div id="big">
                            <img src="/images/2a41ff6c.jpg.m870.jpg" class="bigImage"/>
                            <img src="/images/c7c0e818.jpg" class="bigImage"/>
                            <img src="/images/09604eb3.jpg" class="bigImage"/>
                            <img src="/images/80cc408b.jpg" class="bigImage"/>
                        </div>
                        <ul id="bottom">
                            <li><img src="/images/2a41ff6c.jpg.m48.jpg" alt=""/></li>
                            <li><img src="/images/c7c0e818.jpg.m48.jpg" alt=""/></li>
                            <li><img src="/images/09604eb3.jpg.m48.jpg" alt=""/></li>
                            <li><img src="/images/80cc408b.jpg.m48.jpg" alt=""/></li>
                        </ul>
				 
					</div> 
                   
                </div>
                <div class="show-right">
                    <div class="sright-top">
                        <h1>19LXXIX</h1>
                        <p>19LXXIX 紫色棉质印花直筒男士短袖T恤</p>
                    </div>
                    <div class="sr-center">
                        <ul>
                            <li>
                                <span>优众价</span>
                                <p class="Price">
                                    <i>￥</i>439
                                </p>
                                <p class="Discount">
                                    ￥479
                                    <span></span>
                                </p>
                            </li>
                            
                            <li>
                                <span>促销</span>
                                <p>新品发布</p>
                            </li>
                            
                            <li>
                                <span>服务</span>
                                
                                <b>七天无条件退换</b>
                                
                                <b>满200包邮</b>
                            </li>
                        </ul>
                    </div>
                    <div class="sr-bottom">
                        <ul>
                            <li class="size-li" style="margin-top: 30px;">
                                <span>尺码</span>
                                <p>S</p>
                                <p>M</p>
                                <p>L</p>
                            </li>
                            <li class="sli-last" style="margin-top: 23px;margin-bottom: 20px;">
                                <span style="color:#AAAAAA;">温馨提示</span>
                                <p>商品由优众网或认证商户提供，商户信息详见发票；</p>
                                <br/>
                                <p class="nextText">因商品批次不同，同一款商品可能来源于不同产地，以实际发货为准</p>
                            </li>   
                        </ul>
                        <div class="pro-btn">
                            <p class="add_cart ">
                                <span></span>加入购物车</p>
                            <p class="purchase ">立即购买</p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		
		<!-- 底部 -->
        <footer id="mainfoot" style="margin-top: 0px; width: 100%;" >
            <!-- foot上部 -->
            <div class="footwarp_t" style="background: #F2F2F2;">
                <div class="warpt">
        
                    <div class="ft_left">
                            <h2 style="background: #F2F2F2">客服电话</h2>
                            
        
                            <h1 style="background: #F2F2F2">400-887-5699</h1>
                            <time>周一至周五  9:30-18:30</time>
                        <time>天津经济技术开发区第四大街80号天大科技园优众大厦</time>
                    </div>
                    <div class="ft_center" style="border: none;">
                            <h2 style="background: #F2F2F2">优众简介</h2>
                            <p>优众(天津网聚优众网络科技有限公司)是一家定位于高端人群社交的电子商务公司，致力于打造全球顶级时尚奢侈品在线零售商，塑造在互联网上销售奢侈品的完整链条。优众网的供货渠道采用的买手模式直接从海外采购，优众拥有三条产品线，全面为不同用户提供服务。</p>
                            <p><span>关注我们：</span><i class="vx"></i></p>	
                    </div>
                    <div class="ft_right" style="border-left: solid 1px #cfcfcf;">
                            <div>
                                <h2 style="background: #F2F2F2;font-size: 18px;color: #222222;">手机客户端</h2>
                                <img src="/images/two.png">
                                <p>全球买手倾力打造</p>
                            </div>
                    </div>
                </div>
            </div>
            <!-- foot底部 -->
            <div class="footwarp" style="padding-bottom: 20px">
                    <div class="foot_top">
                            <ul>
                                <li>
                                    <b><img src="/images/b_z.png"></b>
                                    <span>100%全球正品保障</span>
                                </li>
                                <li style="padding-left: 105px;width: 295px;">
                                    <b><img src="/images/b_bao.png"></b>
                                    <span>全场满200包邮</span>
                                </li>
                                <li style="padding-left: 180px;width: 220px;">
                                    <b><img src="/images/7day.png"></b>
                                    <span>七天无条件退换</span>
                                </li>	
                            </ul>
                    </div>
        
                    <div class="foot_b">
                    <div class="fwarp" style="height: 145px;">
        
                        <div class="foot_left">
        
                            <p><span>天津网聚优众网络科技有限公司&nbsp;©2017&nbsp;ihaveu.com&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="javascript:;">增值电信业务经营许可证 &nbsp;&nbsp;&nbsp;</a></p>
                            <p><a href="javascript:;">津B2-20100085</a></p>
                            <p style="padding-bottom: 30px;"><a href="javascript:;">津公安网备12019002000102号<i style="position: absolute"></i></a></p>
                        </div>	
                        <div class="foot_right">
                            <a href="javascript:;" style="display: block;"><img style="margin-left: 0;margin-top: 0;" src="/images/1.png"></a>
                            <a href="javascript:;" style="display: block;"><img style="margin-top: 0;" src="/images/2.png"></a>
                            <a href="javascript:;" style="display: block;"><img style="margin-top: 0;" src="/images/3.png"></a>
                            <a href="javascript:;" style="display: block;"><img style="margin-left: 0;" src="/images/4.png"></a>
                            <a href="javascript:;" style="display: block;"><img src="/images/5.png"></a>
                            <a href="javascript:;" style="display: block;"><img src="/images/6.png"></a>
                        </div>	
                        </div>
                </div>
            
            </div>
        </footer>
    </body>
</html>
<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- inject:js -->
  	<!-- endinject -->